vaultwarden.rdorst.dev {
	reverse_proxy vaultwarden:80
	tls {
			dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}
}

# Local development / LAN entries for *.home.lab
# Using 'tls internal' issues certificates signed by Caddy's local CA. You must
# trust Caddy's CA on client devices to avoid browser warnings.
home.lab {
	respond "This is the home.lab gateway" 200
	tls internal
}

vaultwarden.home.lab {
	reverse_proxy vaultwarden:80
	tls internal
}