vaultwarden.rdorst.dev {
	reverse_proxy vaultwarden:80
	tls {
			dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}
}

dash.rdorst.dev {
	reverse_proxy homarr:7575
	tls {
			dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}
}

docker.rdorst.dev {
	reverse_proxy dockhand:3000
	tls {
			dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}
}
